@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  background-color: hsl(233, 47%, 7%);
  color: hsl(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
}

p {
  font-size: 15px;
  color: hsl(0, 0%, 100%, 0.5);
}
h1 {
  font-size: 2.25em;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

main {
  border-radius: 25px;
  display: flex;
  flex-wrap: nowrap;

  margin: auto;
  width: 1080px;
  height: 446px;

  margin-top: 7%;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  text-transform: uppercase;
  list-style-type: none;
}
ul li:nth-child(n + 2) {
  margin-left: 30px;
}
.left {
  border-radius: 15px 0 0 15px;
  background-color: hsl(244, 38%, 16%);
  width: 50%;
  padding: 80px 100px 75px 80px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  gap: 0px 5px;
  /* grid-template-areas:
    '. . . . . . . . . lange langf .'
    'logo logo . . . . . nav nav nav nav nav'; */
  /* justify-content: center; */

  align-items: center;
}

.insights {
  color: hsl(277, 64%, 61%);
}
.right {
  border-radius: 0 15px 15px 0;
  background-color: hsl(277, 64%, 61%);
  width: 50%;
}

.imgdesk {
  mix-blend-mode: multiply;
  border-radius: 0 15px 15px 0;
}

.imgmobile {
  display: none;
}

.attribution {
  margin-top: 30px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
